<!-- Header -->
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
      
      <div id="logo">
        <a id="goUp" routerLink="/" title="Smart AdServer | Rich Media Gallery">Smart AdServer</a>
      </div>
      
      <nav id="menu">
        <ul id="menu-nav">
            <li>
              <a href="http://gallery.smartadserver.com/nativeadstudio/" class="external">Native Ad Studio</a>
              <img src="_include/img/label.svg" alt="">
            </li>
              <li><a routerLink="/web">Ad Formats</a></li>
              <li id="contact-button">
                <img id="envelope" src="_include/img/enveloppe.svg" alt="">
            <a routerLink="/newsletter">Newsletter</a>
              </li>
    
             <!--  <li><a href="#more_richmedia">More</a></li>
      <li><a href="shortcodes.html" class="external">Shortcodes</a></li> -->			
          </ul>
      </nav>

<!--         <div id="contact-button">
<img id="envelope" src="_include/img/enveloppe.svg" alt="">
<a href="#contact">Newsletter</a>
</div> -->
      
  </div>
  
</header>
<!-- End Header -->