<!-- Header -->
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav"></a>
    <div id="logo">
      <a id="goUp" routerLink="/" title="Gallery Angular | Responsive One Page Template">Gallery Angular</a>
    </div>
      <nav id="menu">
        <ul id="menu-nav">
            <li>
              <a routerLink="/">Home</a>
            </li>
              <li><a routerLink="/cars">Categories</a></li>
              <li><a href="https://github.com/darekodz" target="_blank" class="external">About Me</a></li>
          </ul>
      </nav>
  </div>
  
</header>
<!-- End Header -->
